/.idea
!/.idea/inspectionProfiles/Ivory_Inspections.xml
!/.idea/scopes
!/.idea/scopes/Documentation_Tests.xml
/.private
/composer.lock
/composer.phar
/test/phpunit.xml
/test/perf/scenario/out/cache/
/vendor
